@page "/about"

    <style>

        p {
            color: white
        }

        .bw {
            color: burlywood
        }
    </style>

    <h1 class="bw">About</h1>

    <p>A70Insurance application - Is demonstration only.</p>


    <p>A70Insurance application - Written in Blazor</p>




    @code { }
